h1 {
  margin: 10px 20px 0px 20px;
  color: white;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.nav > li a, .nav > li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.nav > li a :hover, .nav > li :hover {
  background-color: #111;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.active {
 color: green;
}

.not-active {
  color: red;
}

.occupation {
  margin: 0;
}